/TP2-Codigo/*.iml
/TP2-Codigo/.gradle
/TP2-Codigo/local.properties
/TP2-Codigo/.idea/caches
/TP2-Codigo/.idea/libraries
/TP2-Codigo/.idea/modules.xml
/TP2-Codigo/.idea/workspace.xml
/TP2-Codigo/.idea/navEditor.xml
/TP2-Codigo/.idea/assetWizardSettings.xml
/TP2-Codigo/.DS_Store
/TP2-Codigo/build
/TP2-Codigo/captures
/TP2-Codigo/.externalNativeBuild
/TP2-Codigo/.cxx
/TP2-Codigo/local.properties
