<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tpandroid">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TpAndroid"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Views.BusDetailActivity"
            android:exported="true" />
        <activity
            android:name=".Views.HomeActivity"
            android:exported="true" />
        <activity
            android:name=".Views.BatteryActivity"
            android:exported="false" />
        <activity
            android:name=".Views.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Views.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Views.PatternActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.TpAndroid.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>